.breadcrumb__title {
  font-weight: 500;
}

.breadcrumb {
  font-size: 20px;
  padding: 30px 0;
}
.blog {
  padding-bottom: 150px;
  h3 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
  }
}
.blog-box {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  max-width: 969px;
  .blog-box__title {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .blog-box__date {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .blog-box__description {
    padding-top: 10px;
  }
}

.blog-right {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  
}

.blog__right {
  padding-left: 60px;
}

.blog__left {
  padding-right: 120px;
}

.blog__paginate {
  display: flex;
  padding-top: 20px;
  gap: 5px;
}

.button-paginate {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #B5B5B5;
  }
  &:first-child {
    background-color: #B5B5B5;
  }
}