.blidetail_content {
    font-size: 32px;
    font-weight: 700;
}

.blog-detail__content{
    padding-top: 40px;
    font-size: 20px;
}

.blog-detail__image{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.blog-detail__br-pb {
    padding-bottom: 10px;
    display: block;
    padding-top: 30px;
}